*
{
box-sizing:border-size;
}

form{
border: 10px solid lightsalmon;
border-radius:3px;
padding-top:50px ;
padding-bottom:50px;
padding-left:150px;
margin-left:150px;
margin-right:150px;
 background-color: wheat;

}
.col-20{
width:20%;
float:left;
margin:5px 0;
}

.col-80{
width:70%;
float:left;
margin:5px 0;
}

.row:after{
content:" ";
display:table;
clear: both;
}
#a
{
    background-color:lightsalmon;
    text-decoration-color: black;
    border:3px,solid black;
    padding: 7px;
    border-radius: 7px;
    margin-top:10px;
}